In [24]:
import string

str_ds = "I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind"
list_s = str.split(str_ds," ")

In [5]:
avg_len = len(str_ds)

327

In [8]:
str.lower(str_ds)

'i am very keen in building up my career in data science, but not sure from where to start. if i search the web it throws me thousands of articles, few are relevant others make me confused, again i come around to the same page. supervised has provided me a good platform to remove all such qualms which were wrangling in my mind'

In [20]:
pun = str.maketrans(dict.fromkeys(string.punctuation))
str_ds.translate(pun)

'I am very keen in building up my career in Data Science but not sure from where to start If I search the web it throws me thousands of articles few are relevant others make me confused again I come around to the same page Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind'

In [35]:
print(str(" ".join(list_s[10:12]).replace(',','')))

Data Science

In [39]:
freq = set(list_s)

for i in freq:
    print(i,list_s.count(i))

my 2
which 1
few 1
web 1
relevant 1
come 1
has 1
platform 1
qualms 1
I 3
articles, 1
not 1
page. 1
from 1
career 1
make 1
confused, 1
provided 1
keen 1
search 1
wrangling 1
to 3
up 1
building 1
mind 1
a 1
where 1
am 1
it 1
If 1
remove 1
all 1
good 1
Supervised 1
of 1
were 1
me 3
very 1
in 3
are 1
such 1
sure 1
thousands 1
Science, 1
but 1
start. 1
throws 1
again 1
others 1
the 2
Data 1
around 1
same 1

In [41]:
print([i for i in freq if list_s.count(i) == 2])

['my', 'the']

In [42]:
str_ds.replace('Supervised','Unsupervised')

'I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Unsupervised has provided me a good platform to remove all such qualms which were wrangling in my mind'

In [43]:
str_ds.split('.')

['I am very keen in building up my career in Data Science, but not sure from where to start',
 ' If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page',
 ' Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind']

In [44]:
[i for i in freq if i.endswith('e')]

['come', 'make', 'where', 'remove', 'were', 'me', 'are', 'sure', 'the', 'same']

In [49]:
str_ds.count('a')

22

In [59]:
dict_q2 = {'apple':.25,'sugar':.5,'rice':2.5,'milk':2.5,'egg':1}

In [60]:
dict_q2.update({'atta':1})

In [61]:
dict_q2['rice'] = 1

In [62]:
[keys for keys in dict_q2.keys()]

['apple', 'sugar', 'rice', 'milk', 'egg', 'atta']

In [63]:
price = {'apple':220, 'sugar':43, 'rice':45, 'milk':30, 'egg':60}

In [64]:
total_price = 0
for i in price.keys():
    total_price = total_price + price.get(i) * dict_q2.get(i)
print(total_price)

256.5

In [78]:
AI_companies = ['Amazon','Facebook','HiSilicon','Google','Apple','Microsoft','SenseTime']

In [80]:
AI_companies.sort()
AI_companies

['Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime']

In [81]:
AI_companies.extend(['Nvidia','OpenAl','Qualcomm','Reliance'])

In [83]:
[ str.lower(i) for i in AI_companies  ]

['amazon',
 'apple',
 'facebook',
 'google',
 'hisilicon',
 'microsoft',
 'sensetime',
 'nvidia',
 'openal',
 'qualcomm',
 'reliance']

In [85]:
AI_companies.remove('Reliance')

In [94]:
[AI_companies[i] for i in (2,3,5)]

['Facebook', 'Google', 'Microsoft']

In [96]:
tup_price = ('220','43','45','30','60')

In [98]:
min_price =  max(tup_price)

'60'

In [99]:
max_price = min(tup_price)

'220'

In [101]:
tup_ai = tuple(AI_companies)
tup_ai

('Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime',
 'Nvidia',
 'OpenAl',
 'Qualcomm')

In [102]:
tup_ai + tup_price

('Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime',
 'Nvidia',
 'OpenAl',
 'Qualcomm',
 '220',
 '43',
 '45',
 '30',
 '60')

In [105]:
print('Both are equal' if len(tup_ai) == len(tup_price) else 'tup_ai is greater' 
     if len(tup_ai) > len(tup_price) else 'tup_price is greater')

tup_ai is greater